<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true">
    <testsuite name="Simple URI Template Library Test Suite">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>